<%- include('header'); %>
<br>
<h1 id="heading" name="head"><%=title%></h1>
<a href="/compose/<%=title %>" ><i class="far fa-edit fa-2x update"></i></a>
<br><br>
<p id="para"><%=content%></p><br>
<br>
<form  method="POST" action="/post/<%=title%> ">
   <button type="submit" class="btn btn-danger ">Delete</button></a>
</form>

<%- include('footer'); %>
